.lvWrap{
	width:100%;
	min-width:1130px;
}
/*header start*/
.lvHeader{
	width:100%;
	height:40px;
	background:#414141;
	border-bottom: 1px solid #8d8d8d;
}
.lvHeaderInner{
	width:1176px;
	height:100%;
	margin:auto;
}
.lvHeaderInner>ul{
	float:left;
}

.lvHeaderInner>ul>li{
	float:left;
	line-height:37px;
	margin:0 0 0 30px;
	
}
.lvHeaderInner>ul>li>a{
	color:#fff;
	font-size:14px;
	display:inline-block;
	text-align: center;

}
.lvHeaderInner>ul>li:hover a{
	color:#FAB3AC;
}
.lvHeaderInner>ul>li:hover{
	border-bottom:2px solid red;
}
.lvZv{
	background:#ef6473;
	width:115px;
	height:40px;
	float:left;
	line-height: 37px;
	text-align: center;
	cursor: pointer;
	font-size: 14px;
	color:#fff;
}
.lvZv:hover{
	background:#ED287C;
	color:#fff;
}
.lvSear{
	width:106px;
	height:17px;
	background-color:#6d6d6d;
	border-radius:25px;
	float:right;
	border:1px solid #727272;
	margin-top:11px;
	outline: none;
	background-image:url(../img/img_my/search.png);
	background-repeat: no-repeat;
	background-position:left -2px;
	background-size:19px 20px;
}
/*header end*/
.lvHead{
	width:100%;
	height:4px;
	background: #eaeaea;
}

.lvDl{
	width:100%;
	height:201px;
}
.lvDlInner{
	width:1130px;
	height:100%;
	margin:auto;
	position: relative;
}
.lvDlInnerLeft{
	width:212px;
	height:24px;
	float:left;
	margin:35px 0 0 49px;
}
@font-face {
  font-family: 'iconfont';
  src: url('../img/icon/iconfont.eot');
  src: url('../img/icon/iconfont.eot?#iefix') format('embedded-opentype'),
  url('../img/icon/iconfont.woff') format('woff'),
  url('../img/icon/iconfont.ttf') format('truetype'),
  url('../img/icon/iconfont.svg#iconfont') format('svg');
}

.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.lvDlInnerLeft>ul>li{
	float:left;
	margin-right:11px;
	width:25px;
	height:24px;
}
.lvDlInnerLeft>ul>li>i:hover{
	color:#FAB3AC;
	cursor: pointer;

}
.lvDlTops{
	width:100%;
	height:116px;
}
.lvDlInnerLeft{
	float:left;

}
.lvLogins{
	float:left;
	font-size:12px;
	color:#0b0000;
	padding-top: 6px;
	padding-left:4px;
}
.lvBrideres{
	float:left;
	margin:29px 0 0 159px;
}
.lvManes{
	float:left;
	margin:9px 0 0 248px;
}
.lvXlj{
	width:525px;
	height:12px;
	margin:24px auto;
}
.lvXlj span a{
	float:left;
	color:#000200;
	font-size:12px;
	margin-left:50px;
}
.lvXlj span:hover a{
	color:#fe8083;
}
.wx_code{
	position:absolute;
	left:100px;
	top:60px;
	width:146px;
	height:146px;
	display: none;
	transition: all 1s;
}
.lvXlj>.lvCharts:hover .wx_code{
    display: block;
}
/*lvDlTops end*/

/*lvContainers start*/
.lvContainers{
	width:100%;
	height:1296px;
}
.lvConsInner{
	width:1128px;
	height:100%;
	margin:auto;
}
.lvConsTop{
	width:100%;
	height:1128px;
}
.lvLxa{
	width:376px;
	height:376px;
	overflow:hidden;
	float:left;
	position: relative;
	cursor: pointer;
}

.lvLxa>img{
	display:block;
	position:absolute;
	top:0;
	left:0;
    width:376px;
	height:376px;
	transition: all 1s;
}
.lvLxa:hover img{
   opacity: .6;
   transform: scale(1.1);
}
.lvSpans{
	padding: 12px 20px;
    color: #fff;
    font-size: 13px;
    background: #000;
    display: inline-block;
    font-weight: normal;
    letter-spacing: 4px;
    position: absolute;
    bottom:5%;
    left:30%;
    cursor: pointer;
}

.lvLxb{
	width:376px;
	height:376px;
	overflow:hidden;
	float:left;
	position: relative;
	cursor: pointer;
}

.lvLxb>img{
	display:block;
	position:absolute;
	top:0;
	left:0;
    width:376px;
	height:376px;
	transition: all 1s;
}
.lvLxb:hover img{
   opacity: .6;
   transform: scale(1.1);
}
/*lvKs start*/
.lvKs{
   width:100%;
   height:100px;
   margin-top:66px;
}
.lvTbch{
	width:100%;
	height:1551px;
	margin-top:43px;
}
.lvTbchInner{
	width:1130px;
	height:1151px;
	margin:auto;
	border-top:1px solid #e1e1e1;
	position: relative;

}
.lvCht{
	background: url(../img/img_my/lvCh.jpg) no-repeat;
    width: 180px;
    height: 34px;
    margin: -18px auto;
    z-index: 2;
    left:42%;
    top:0;
    position:absolute;
}
.lvChContain{
	width:1112px;
	height:1535px;
	margin-top:16px;

}
.lvChLeftNode{
	width:767px;
	height:100%;
	float: left;
}
.lvxLeftNodeOne{
	width:100%;
	height:220px;
	border-bottom: 1px solid #dbdbdb;
}
.lvChImg{
    width: 196px;
    height: 196px;
    margin:10px 0 0 20px;
    float:left;
}
.lvChText{
	width:513px;
	height:169px;
	float:left;
	margin-left: 19px;
}
.lvChText h3{
	padding-top: 30px;
    padding-bottom: 22px;
    color: #101010;
    font-size: 18px;
    text-align: center;
}
.lvHotel{
	color: #070707;
    line-height: 24px;
    width: 513px;
    font-size: 13px;
}

.lvChcen{
	text-align: center;
	line-height: 24px;
    width: 513px;
    font-size: 13px;
}
.lvChmore{
	color: #f2118e;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
}
.lvxLeftNodeOne:hover{
	background: #f7f7f7;
	cursor: pointer;
}

.lvxLeftNodeTwo{
	width:100%;
	height:304px;
	margin-top:56px;
}
.lvZxTops{
	width:100%;
	height:34px;
	background: url('../img/img_my/lvZxBg.jpg');
}
.lvZxBottoms{
	width:100%;
	height:322px;
}
.lVZxBotLefts{
	width:220px;
	height:262px;
	float:left;
}
.lvZxon{
	width:220px;
	height:220px;
}
.lVZxBotLefts>p{
    line-height: 16px;
    text-align: center;
    font-size: 12px;
    color:#4c4c4c;
    margin-top:6px;
}
.lvCxraps{
	width:495px;
	height:270px;
	float:left;
	margin:8px 0 0 10px;
}
.lVZxBotRights{
	width:495px;
	height:235px;
	float:left;
	margin:8px 0 0 10px;
}
.lVZxBotRights li a{
	color: #4c4c4c;
    font-size: 13px;
    line-height: 30px;
    padding-left:5px;
}
.lVZxBotRights li{
	background: url("../img/img_my/lvIcon.jpg") no-repeat left center;
}
.lVZxBotRights li a:hover{
	text-decoration:underline;
}
.lvDjMore{
	text-align: center;
	color:#f2118e;
	font-size: 12px;
	margin-left:40%;
}
.lvDjMore:hover{
	text-decoration:underline;
}
/*lvChLeftNode end*/

/*lvChRightNode*/
.lvChRightNode{
	width:319px;
	height:1224px;
	float:left;
	margin-left:26px;
}
.lvChMiss{
	width:318px;
	height:194px;
	background: #838182;
	overflow: hidden;
}
.lvChMisTop{
	width:296px;
	height:54px;
	margin:29px auto;
}
.lvNotMiss{
	font-size:20px;
	color:#ffffff;
	text-align: center;
}
.lvzWins{
	color:#a5a5a5;
	font-size:12px;
	text-align: center;
	padding-top:13px;
}
.lvChMisBot{
	width:295px;
	height:71px;
	margin:auto;
}
.lvAddriss{
	width:135px;
	height:27px;
	float:left;
	background:#ffffff;
	color:#9a9797;
	outline: none;
	border:none;
	font-size:12px;
	padding-left: 10px;
}
.lvAddrissv{
	width:135px;
	height:27px;
	float:left;
	background:#ffffff;
	color:#9a9797;
	outline: none;
	border:none;
	font-size:12px;
	margin-left:5px;
	padding-left: 10px;
}
.lvZcs{
	width:104px;
	height:32px;
	background:#0dd9d6;
	margin:12px auto;
	float: left;
	outline: none;
	border:none;
	color:#535353;
	font-size:12px;
}
.lvMarryGz{
	width:100%;
	height:70px;
	border-top:2px solid #000000;
	border-bottom:2px solid #000000;
	margin-top:33px;
}
.lvMarryAbout{
	width:122px;
	height:21px;
	background: #fff;
	margin:-9px auto;
}
.lvMarryAbout>p{
	text-align: center;
	font-size:14px;
	color:#000300;
}
.lvMarryLogo{
	width:176px;
	height:25px;
	margin-top:17px;
	margin-left:72px;
}
.lvMarryLogo>li{
	float:left;
	margin-left:25px;
	cursor: pointer;
}
.lvMarryLogo>li:hover{
	color:#FAB3AC;
}
/*lvMarryGz end*/

.lvHappyTj{
	width:316px;
	height:509px;
	background:url('../img/img_my/lvChbgvs.jpg') no-repeat;
	margin:44px auto;
	overflow: hidden;
}
.lvHappyText{
	width:234px;
	height:23px;
	margin:6px auto;
	border-bottom: 1px solid #1b1b1b;
}
.lvJc{
	text-align: center;
	font-size:20px;
	color:#070707;
}
.lvJc>span{
	font-weight: bold;
}
.lvHappyImg{
	width:204px;
	height:204px;
	border:1px solid #b5b5b5;
	margin:27px auto;

}
.lvHappyImg img{
	width:200px;
	height:200px;
	margin:2px 2px 2px 2px;
}
.lvBld{
	color:#454343;
	font-size:12px;
	text-align: center;
	padding-top:-10px;
}
.lvOls{
	width:281px;
	height:36px;
	border-bottom:1px solid #e8e8e2;
	margin:20px auto;
}
.lvOls p{
	font-size:12px;
	color:#454343;
}
.lvOls p>span{
	color:#323232;
	font-family:'黑体 微软雅黑';
}
.lvXks{
	width:302px;
	height:304px;
	border:7px solid #e9e9e9;
	margin:auto;
}

#lvXkBox{
	width:302px;
	height:45px;
}
.lvSjLeft{
	width:151px;
	height:45px;
	background: #fff;
	outline: none;
	border:none;
	font-size:12px;
	border-right:2px solid #e9e9e9;
	float: left;
}
.lvSjRight{
	width:151px;
	height:45px;
	float:left;
	background: #d6d6d6;
	outline: none;
	border:none;
	border-left:2px solid #e9e9e9;
	font-size:12px;
}
.lvBoxWrap{
	width:302px;
	height:359px;
}
.lvHidden{
	width:302px;
	height:359px;
	display:none;
}

.lvShow{
	width:302px;
	height:359px;
	display:block;
}
.lvHubA{
	width:99px;
	height:117px;
	float: left;
	margin-left:45px;
	margin-top:14px;
}
.lvHubA>img{
  width:99px;
  height:95px;
}
.lvBaby{
	font-size:12px;
	color:#595959;
	text-align: center;
}
.lvHubB{
	width:99px;
	height:117px;
	float: left;
	margin-left:20px;
	margin-top:14px;
}
.lvHubB>img{
  width:99px;
  height:95px;
}
.lvLeftBtn{
	position:absolute;
	top:115px;
	left:8px;
	cursor: pointer;
}
#lvHidden{
	position: relative;
}
.lvRightBtn{
	position:absolute;
	top:115px;
	right:8px;
	cursor: pointer;
}
.lvHubC{
	width:99px;
	height:117px;
	margin:25px 0 0 94px;
}
.lvHubC>img{
  width:99px;
  height:95px;
}
.lvHuD>p{
	width: 252px;
    margin: 23px auto;
    text-align: left;
    line-height: 18px;
    color: #454343;
    font-size: 12px;
}


/*lvCon start*/
.lvCon{
	width:100%;
	height:297px;
	position: relative;	
/*	margin-top:200px; */
}
.lvConInner{
	width:1130px;
	height:297px;
    margin:auto;
    border-top:1px solid #e1e1e1;
}
.lvConlx{
    width:1119px;
    height:272px;
    margin:25px auto;
}
.lvBeautiful{
	width:205px;
	height:231px;
	float:left;
}
.lvPl{
	text-align: center;
	font-size:14px;
	padding-top:14px;
}
.lvBeautifulB{
    width:205px;
	height:231px;
	float:left;
	margin-left:23px;
}
.lvBgt{
	background: url(../img//img_my/lvBgt.jpg) no-repeat;
    width: 147px;
    height: 34px;
    margin: -18px auto;
    z-index: 2;
    left:44%;
    top:0;
    position:absolute;
}
.lvFooter{
	width:100%;
	height:379px;
	background:#4b4b4b;
	overflow: hidden;
}
.lvTopNode{
	width:978px;
	height:220px;
	border-bottom:1px solid #a7a7a7;
	margin:27px auto;
}
.lvTons{
	width:100%;
	height:62px;
}
.lvBull{
	float:left;
}
.lvCd{
	float:left;
	margin-left:26px;
	color:#f9f8f4;
	font-size:12px;
}
.lvCen{
	width:947px;
	height:159px;
	margin-left:4px;
}
.lvFotUl{
	float:left;
	margin-left:4px;
}
.lvFotUo{
	float:left;
	margin-left:55px;
}
.lvFotUo li:hover a{
	color:#FAB3AC;
}
.lvFotUl li{
	font-size:12px;
	padding-bottom:10px;
}
.lvFotUl li a{
    color:#ffffff;
}
.lvFotUl li:hover a{
	color:#FAB3AC;
}
.lvFotUl li .lvJun{
	color:#a0bac2;
}

.lvFotUo li{
	font-size:12px;
	padding-bottom:10px;
}
.lvFotUo li a{
    color:#ffffff;
}
.lvFotUo li:hover a{
	color:#FAB3AC;
}
.lvFotUo li .lvJun{
	color:#a0bac2;
}

.lvFotUz{
	float:left;
	margin-left:8px;
}
.lvFotUz li{
	font-size:12px;
	padding-bottom:10px;
}
.lvFotUz li a{
    color:#ffffff;
}
.lvFotUz li:hover a{
	color:#FAB3AC;
}
.lvFotUz li .lvJun{
	color:#a0bac2;
}


.lvFotUv{
	float:left;
	margin-left:35px;
}
.lvFotUv li{
	font-size:12px;
	padding-bottom:10px;
}
.lvFotUv li a{
    color:#ffffff;
}
.lvFotUv li:hover a{
	color:#FAB3AC;
}
.lvFotUv li .lvJun{
	color:#a0bac2;
}

/*lvTopNode end*/

.lvBotNode{
	width:851px;
	height:98px;
	margin:33px auto;
}
.lvBrides{
	float:left;
	font-size:30px;
	color:#dcdcdc;
	margin-top:18px;
}
.lvBotText{
	float:left;
	width:559px;
	height:63px;
	margin-left:118px;
}
.lvBotText>.lvBotOne>a{
	color:#f3ffe2;
	font-size:12px;
	padding-left:3px;
	display: inline-block;
}
.lvBotTwo{
	color:#f3ffe2;
	font-size:12px;
	padding-left:3px;
	cursor: pointer;
	padding-top:5px;
}