.lvWrap{
	width:100%;
	min-width:1130px;
}
/*header start*/
.lvHeader{
	width:100%;
	height:40px;
	background:#414141;
	border-bottom: 1px solid #8d8d8d;
}
.lvHeaderInner{
	width:1176px;
	height:100%;
	margin:auto;
}
.lvHeaderInner>ul{
	float:left;
}

.lvHeaderInner>ul>li{
	float:left;
	line-height:37px;
	margin:0 30px 0 30px;
	
}
.lvHeaderInner>ul>li>a{
	color:#fff;
	font-size:14px;
	display:inline-block;
	text-align: center;

}
.lvHeaderInner>ul>li:hover a{
	color:#FAB3AC;
}
.lvHeaderInner>ul>li:hover{
	border-bottom:2px solid red;
}
.lvZv{
	background:#ef6473;
	width:115px;
	height:40px;
	float:left;
	line-height: 37px;
	text-align: center;
	cursor: pointer;
	font-size: 14px;
	color:#fff;
}
.lvZv:hover{
	background:#ED287C;
	color:#fff;
}
.lvSear{
	width:106px;
	height:17px;
	background-color:#6d6d6d;
	border-radius:25px;
	float:right;
	border:1px solid #727272;
	margin-top:11px;
	outline: none;
	background-image:url(../img/img_my/search.png);
	background-repeat: no-repeat;
	background-position:left -2px;
	background-size:19px 20px;
}
/*header end*/
.lvHead{
	width:100%;
	height:4px;
	background: #eaeaea;
}

.lvDl{
	width:100%;
	height:201px;
}
.lvDlInner{
	width:1130px;
	height:100%;
	margin:auto;
	position: relative;
}
.lvDlInnerLeft{
	width:212px;
	height:24px;
	float:left;
	margin:35px 0 0 49px;
}
@font-face {
  font-family: 'iconfont';
  src: url('../img/icon/iconfont.eot');
  src: url('../img/icon/iconfont.eot?#iefix') format('embedded-opentype'),
  url('../img/icon/iconfont.woff') format('woff'),
  url('../img/icon/iconfont.ttf') format('truetype'),
  url('../img/icon/iconfont.svg#iconfont') format('svg');
}

.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.lvDlInnerLeft>ul>li{
	float:left;
	margin-right:11px;
	width:25px;
	height:24px;
}
.lvDlInnerLeft>ul>li>i:hover{
	color:#FAB3AC;
	cursor: pointer;

}
.lvDlTops{
	width:100%;
	height:116px;
}
.lvDlInnerLeft{
	float:left;

}
.lvLogins{
	float:left;
	font-size:12px;
	color:#0b0000;
	padding-top: 6px;
	padding-left:4px;
}
.lvBrideres{
	float:left;
	margin:29px 0 0 159px;
}
.lvManes{
	float:left;
	margin:9px 0 0 248px;
}
.lvXlj{
	width:525px;
	height:12px;
	margin:24px auto;
}
.lvXlj span a{
	float:left;
	color:#000200;
	font-size:12px;
	margin-left:50px;
}
.lvXlj span:hover a{
	color:#fe8083;
}
.wx_code{
	position:absolute;
	left:100px;
	top:60px;
	width:146px;
	height:146px;
	display: none;
	transition: all 1s;
}
.lvXlj>.lvCharts:hover .wx_code{
    display: block;
}
/*lvDlTops end*/



/*lvDl start*/
.lvDl{
	width:100%;
	height:225px;
}
.lvDlInner{
	width:1130px;
	height:100%;
	margin:auto;
	position: relative;
	border-bottom: 2px solid #000000;
}
.lvDlInnerLeft{
	width:212px;
	height:24px;
	float:left;
	margin:35px 0 0 49px;
}
@font-face {
  font-family: 'iconfont';
  src: url('../img/icon/iconfont.eot');
  src: url('../img/icon/iconfont.eot?#iefix') format('embedded-opentype'),
  url('../img/icon/iconfont.woff') format('woff'),
  url('../img/icon/iconfont.ttf') format('truetype'),
  url('../img/icon/iconfont.svg#iconfont') format('svg');
}

.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.lvDlInnerLeft>ul>li{
	float:left;
	margin-right:11px;
	width:25px;
	height:24px;
}
.lvDlInnerLeft>ul>li>i:hover{
	color:#FAB3AC;
	cursor: pointer;

}
/*jx start*/
.jx{
	float:left;
}
.top_bottom {
    width: 100%;
    margin: 34px auto 0px;
    background: url(../img/img-index/jxLogo.jpg) center 0 no-repeat;
    max-width: 1398px;
    min-width: 1045px;
}
.top_contact_login {
    padding-bottom: 12px;
    width: 1032px;
    margin: 0 auto;
}
.top_contact_login a {
    display: inline-block;
    color: #000;
    font-size: 12px;
    height: 13px;
    line-height: 13px;
    width: 34px;
    text-align: center;
}
.top_contact_login a.top_login {
    border-right: 1px solid #000;
    margin-top: -10px;
}
a.a_bg {
    height: 30px;
    width: 26px;
    background: url(../img/img-index/top_tubiao.jpg) no-repeat;
    margin-right: 11px;
}
a.wb_sina {
    background-position: -174px -91px;
}
a.wb_tencent {
    background-position: -174px -60px;
}
a.wx {
    background-position: -174px -30px;
    *background-position: -174px -26px;
    position:relative;
    z-index:99;
}
a.wx img{
    position:absolute;
    top:24px;
    left:-67px;
    display:none;
}
a.app_brides {
    background-position: -174px 0px;
}
a.wb_sina:hover {
    background-position: 0px -91px;
}
.wb_tencent:hover {
    background-position: 0px -60px;
}
.wx:hover {
    background-position: 0px -30px;
    *background-position: 0px -26px;
}
a.app_brides:hover {
    background-position: 0px 0px;
}
.top_contact_login .login_register {
    margin-top:6px;
}
.top_contact_login a.dingyue_now{
	display:block;
	float:right;
	width:149px;
	height:115px;
	margin-right:-25px;
	margin-top:-25px;
}
.top_bottom .top_ad_bg{
	height:55px;
}
.top_ad_column{
	width:735px;
	margin:0 auto;
	height:35px;
}
.top_ad{
	background:url(../img/img-index/background-hash.png) repeat #fff;
	border-top:1px solid #f1f1f1;
	border-bottom:1px solid #f1f1f1;
	height:100px;
	width:100%;
	position:fixed;
	top:0;
	left:0;
	z-index:99999;
}

.ad_out{
	width:1045px;
	margin:0 auto;
}
.ad_inside{
	width:1045px;
	height:100px;
	overflow:hidden;
	text-align:center;
	display:table-cell;
	vertical-align:middle;
}
.top_ad img,.ad_2 img,.ad_3 img{
	vertical-align:middle; 
	margin-top: expression((100-this.height)/2);
}

.top_column{
	height:36px;
	line-height:36px;
	text-align:center;
}
.top_column span,.top_column a{
	display:inline-block;
	font-size:12px;
	text-align:center;
}
.top_column span{
	color:#ff7f8a;
	background:url(../img/img-index/special_bg.jpg) right 14px no-repeat;
}
.top_column a{
	background:none;color:#000;
}
.top_column a:hover{
	color:#ff7f8a;
}
.lvLjX{
	width:183px;
	height:28px;
	float: none;
	margin-top:120px;
	background: url('../img/img_jiaju/lvLine.jpg');
}
.lvLjX>p>a{
	float:left;
	color:#fff;
	font-size: 12px;
	margin-left:36px;
	line-height: 28px;
}
/*lvXlj end*/

/*lvSelect start*/
.lvSelect{
	width:100%;
	height:47px;
}
.lvSelectInner{
	width:1130px;
	height:47px;
	border-bottom:1px solid #dbdbdb;
	margin:auto;
	overflow: hidden;
}
.lvSelectUls{
	width:377px;
	height:16px;
	margin:15px 0 0 15px;
	float:left;
}
.lvSelectUls li a{
    font-size:12px;
	color:#333333;
	background: url('../img/img_hlqj/lvUlbg.jpg');
	background-position: right;
	background-repeat: no-repeat;
	float:left;
	padding:0 10px 0 10px;
}
.lvSelectUls li:hover a{
	color:#FAB3AC;
}
.lvOptions{
	width:108px;
	height:27px;
	border:1px solid #dbdbdb;
	float:right;
	margin-top:10px;
	font-size:12px;
}
/*lvSelect end*/

.lvAllNodes{
	width:100%;
	height:2506px;
	margin-top:43px

}
.lvAllNodesInner{
	width:1130px;
    height:2506px;
    margin:auto;
}
.lvLeftnNode{
   width:769px;
   height:100%;
   float:left;
   border-top:1px solid #e3e3e3;
   position: relative;
}
.imgLvZx{
	position:absolute;
	left:35%;
	top:-18px;
}
.lvLeftOne{
	width:730px;
	height:440px;
	margin:30px 0 66px 18px;
	overflow: hidden;
}
.mcMk{
	font-size:12px;
	color:#d6007e;
}
.lvDate{
	font-size:12px;
	color:#42373d;
	margin-left:13px;
}
.lvAdvice{
	font-size:20px;
	color:#3f3e46;
	margin-top:16px;
}
.lvMks{
	margin-top:25px;
}
.lvBox{
	width:100%;
	margin-top:15px;
}
.lvLogo{
	margin-left:5px;
	float:left;
}
.lvBj{
	margin-left:13px;
	margin-top:9px;
	font-size:12px;
	color:#07040f;
	float: left;
}
.lvLeftTwo{
	width:730px;
	height:430px;
	margin:66px auto;
	background: pink;
}

/*lvRightNode start*/
.lvRightNode{
	width:318px;
	height:2382px;
	float:right;
}
.lvChMiss{
	width:318px;
	height:194px;
	background: #838182;
	overflow: hidden;
}
.lvChMisTop{
	width:296px;
	height:54px;
	margin:29px auto;
}
.lvNotMiss{
	font-size:20px;
	color:#ffffff;
	text-align: center;
}
.lvzWins{
	color:#a5a5a5;
	font-size:12px;
	text-align: center;
	padding-top:13px;
}
.lvChMisBot{
	width:295px;
	height:71px;
	margin:auto;
}
.lvAddriss{
	width:135px;
	height:27px;
	float:left;
	background:#ffffff;
	color:#9a9797;
	outline: none;
	border:none;
	font-size:12px;
	padding-left: 10px;
}
.lvAddrissv{
	width:135px;
	height:27px;
	float:left;
	background:#ffffff;
	color:#9a9797;
	outline: none;
	border:none;
	font-size:12px;
	margin-left:5px;
	padding-left: 10px;
}
.lvZcs{
	width:104px;
	height:32px;
	background:#0dd9d6;
	margin-top:12px;
	margin-left:107px;
	float: left;
	outline: none;
	border:none;
	color:#535353;
	font-size:12px;
}
.lvNuma{
	width:302px;
	height:95px;
	margin-top:38px;
}
.lvLvA{
	float:left;
}
.lvNumBox{
	width:197px;
	height:85px;
	float:left;
	margin:4px 0 0 10px;
}
.lvMsn{
	font-size:12px;
	color:#464646;
}
.mkBtn{
	width:56px;
	height:19px;
	border-radius:25px;
	border:none;
	outline: none;
	line-height: 19px;
	font-size:12px;
	color:#a1a1a1;
	margin-top:35px;
}














/*lvCon start*/
.lvCon{
	width:100%;
	height:297px;
	position: relative;	
	margin-top:71px;
}
.lvConInner{
	width:1130px;
	height:297px;
    margin:auto;
    border-top:1px solid #e1e1e1;
}
.lvConlx{
    width:1119px;
    height:272px;
    margin:25px auto;
}
.lvBeautiful{
	width:205px;
	height:231px;
	float:left;
}
.lvPl{
	text-align: center;
	font-size:14px;
	padding-top:14px;
}
.lvBeautifulB{
    width:205px;
	height:231px;
	float:left;
	margin-left:23px;
}
.lvBeautifulB img{
	width:205px;
	height:205px;
}
.lvBgt{
	background: url(../img/img_my/lvBgt.jpg) no-repeat;
    width: 147px;
    height: 34px;
    margin: -18px auto;
    z-index: 2;
    left:44%;
    top:-0;
    position:absolute;
}

/*lvFooter start*/
.lvFooter{
	width:100%;
	height:164px;
	background:#4b4b4b;
	overflow: hidden;
	border-top:1px solid #a7a7a7;
}

/*lvBotNode start*/
.lvBotNode{
	width:851px;
	height:98px;
	margin:33px auto;
}
.lvBrides{
	float:left;
	font-size:30px;
	color:#dcdcdc;
	margin-top:18px;
}
.lvBotText{
	float:left;
	width:559px;
	height:63px;
	margin-left:118px;
}
.lvBotText>.lvBotOne>a{
	color:#f3ffe2;
	font-size:12px;
	padding-left:3px;
	display: inline-block;
}
.lvBotTwo{
	color:#f3ffe2;
	font-size:12px;
	padding-left:3px;
	cursor: pointer;
	padding-top:5px;
}